.card {
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    border-radius: 7px;
    transition: box-shadow 0.5s ease-in-out;
    font-size: 20px;
}

.card:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 1);
}

.cardHeader {
    outline: none;
    padding: 20px 20px;
}

.cardHeader__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardHeader__topText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 88%;
}

.cardTitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.cardDate {
    color: #A9A9A9;
    margin-bottom: 10px;
}

.cardHeader__buttonExpand {
    box-sizing: border-box;
    border: none;
    background: none;
    outline: none;
}

.cardHeader__buttonIcon {
    width: 10px;
    height: 10px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(45deg);
}

.cardHeader__buttonIcon_rotate {
    transform: rotate(-135deg);
}

.cardHeader__bottom {
    color: #A9A9A9;
}

.cardDescription {
    transition: padding 0.25s ease;
    color: #A9A9A9;
}

.cardDescription_hide {
    height: 0;
    overflow: hidden;
    padding: 0 20px;
    
}

.cardDescription_show {
    height: auto;
    box-shadow: 0 0 8px 0px #C0C0C0;
    padding: 20px 20px;
}
